/* TRISH - GOAL 1 - go through code and find all classes that can be included under the beginning tags!!! */

/* After Thursday's session, I realize that there is SEVERAL places in the code that can be improved and I for sure need to reclass many things to streamline */
/* After Friday's session, I realize that I still need more work in positioning, I understand it, but I am using a lot of padding tags to fill out where things are not lining up properly */
/* I am also aware that using exact measurements for pictures and boxes is a dangerous thing to do, as it does not guarentee it will not break */
/* I also misused "flex shrink/grow" in places and need to remove those, because most are useless code  */
/* some comments for the code, some for you! */

/* Variables */
:root { 
/* colors */
--White: #fff;
--Charcoal: #232323;
--NavyBlue: #0E204E;
--DarkTeal: rgba(14, 63, 51, 0.20);
--DarkSoftBlue: #263238;
/* Fonts */
--HeaderFont: 'Playfair Display', serif;
--BodyFont: 'Manrope', sans-serif;
/* Font Sizes */
--FontSizeBasic: 20px;
--FontSizeSmall: 32px;
--FontsizeLarge: 40px;
--FontSizeHeader: 60px;
--FontSizePercentage: 100%;
/* Font Weight */
--FontWeightBody: 400;
--FontWeightHeader: 700;
/* Line Heights */
--LineHeightButton: 15px;
--LineHeightMedium: 150%;
--LineHeightLarge: 160%;
--LineHeightXLarge: 180%;
--LineHeightListedItems: 2em;
--LineHeightFormInputOne: 3em;
--LineHeightFormInputTwo: 9em; 

}

html {font-family: var(--BodyFont);}

body {background-color: var(--White)}

/* HEADER SECTION */

/* navigation links */
.links {
    display: flex;
	align-items: center;
	gap: 40px;
    list-style-type: none;
    }

.linkslist {
    color: var(--Charcoal);
    font-family: var(--BodyFont);
    font-size: var(--FontSizeBasic);
    font-style: normal;
    font-weight: var(--FontWeightBody);
    line-height: normal;}

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

/* text based logo in left corner */
.logo {

    color: var(--NavyBlue);
    font-family: var(--HeaderFont);
    font-size: var(--FontSizeSmall);
    font-style: normal;
    font-weight: var(--FontWeightHeader);
    line-height: normal;
}

    /* button  */
.touch {
    background-color: var(--NavyBlue);
    color: var(--White);
    font-size: var(--FontSizeBasic);
    line-height: var(--LineHeightButton);
    padding: 11px 36px;
}

.touch:hover {
    background-color: var(--White); 
    color: var(--NavyBlue);
    font-size: var(--FontSizeBasic);
    line-height: var(--LineHeightButton);}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        
    } 
    
/* Description of Pineapple island and the elements encompassing it */

.paradise {
    display: flex;
    align-items: center;
    }

.box1 {
min-width: 500px;
height: 430px;
background-color: var(--NavyBlue);
    
    }

/* TRISH - GOAL 2 - Go through and figure out where code can be more efficient!  */
.PIdesc {
padding-left: 10%;
padding-top: 5%;
color: var(--White);
font-family: var(--HeaderFont);
font-size: var(--FontSizeHeader);
font-style: normal;
font-weight: var(--FontWeightHeader);
line-height: normal;
}

.PIdesc2 {
padding-left: 10%;
padding-right: 10%;
color: var(--White);
font-family: var(--BodyFont);
font-size: var(--FontSizeBasic);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: normal;
flex-grow: 0;

}

.deskparadise {
width: 750px;
flex-shrink: 0;
}    
/* END HEADER SECTION */
/* ABOUT PINEAPPLE ISLAND SECTION */

.about {
padding-top: 10%;
padding-bottom: 10%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
}

.containerabout {
padding-right: 10%;
width: 80px;
}

.aboutheader {
color: var(--NavyBlue);
font-family: var(--HeaderFont);
font-size: var(--FontsizeLarge);
font-style: normal;
font-weight: var(--FontWeightHeader);
line-height: normal;
}
.aboutp {
padding-top: 30%;
padding-left: 10%;
padding-right: 10%;
align-content: center;
color: var(--White);
font-family: var(--BodyFont);
font-size: var(--FontSizePercentage);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: var(--LineHeightLarge);
text-align:justify;
flex-grow: 0;
}
.rowdesk {
width: 600px;
flex-shrink: 0;
}

.aboutbox {
height: 510px;
width: 400px;
background-color: var(--NavyBlue);

}
/* END ABOUT SECTION */
/* WHY CHOOSE PINEAPPLE ISLAND SECTION */

.whychoose {
padding-bottom: 5%;
min-width: 500px;
height: var(--FontWeightHeader)px;
background-color: var(--NavyBlue);
}

.amazingheader.choosing {
color: var(--White);
width: 300px;
}

.chooseimgdesk {
height: 500px;
}

.choosedesktop {
padding: 10%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;

}

.box2 {
height: 500px;
width: 400px;
background-color: var(--White);
}

.choosedeskwording {
display: flex;
flex-direction: row;
flex-wrap: nowrap;

}

.agenttext.choosewhy {
font-size: var(--FontSizeBasic);
}

.div1 {
padding: 40px;

}

.div2 {
padding-right: var(--FontSizeBasic);
}

/* END WHY CHOOSE PINEAPPLE ISLAND SECTION */
/* WHAT WE OFFER SECTION */

/* DESKTOP SECTION FIRST */

.headingoffer {
padding-top: 10%;
padding-bottom: 5%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;

}

.extdeoffer{
width: 600px;
}

.picandicons
{
padding-left: 20px;
padding-bottom: 10%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
gap: 10%;
}

.deskicons {
display: flex;
flex-direction: column;

}

.deskicon1 {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
align-content: space-evenly;

gap: 30%;
}

.deskicon2 {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
align-content: space-evenly;

gap: 30%;
}

/* MOBILE SECTION SECOND */

.mobileicons {
min-width: 300px;
height: 100%;
background-color: var(--NavyBlue);
flex-shrink: 0;
}
/* END WHAT WE OFFER SECTION */
/* GALLERIES SECTION */

/* DESKTOP SECTION FIRST */
.h1desk { 
color: var(--NavyBlue);
font-family: var(--HeaderFont);
font-size: var(--FontSizeHeader);
font-style: normal;
font-weight: var(--FontWeightHeader);
line-height: normal;
}

.pdesk {
width: 596px;
color: var(--DarkSoftBlue);
text-align: center;
font-family: var(--BodyFont);
font-size: var(--FontSizeBasic);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: var(--LineHeightXLarge); 
}

.deskgallerydesc {
padding-left: 475px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
}   

/* .deskimages {
row-gap: 10px;
column-gap: 10px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
} */

.imgesgallery {

width: 30%;
max-width: 300px;
list-style-type: none;

}

.ImageGalleryDesktop {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    gap: 10%;
    
}


/* END GALLERY SECTION */
/* FEATURES SECTION */

.amazingimg {
height: 600px;
}

.features {
padding-top: 250px;
padding-bottom: 100px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
gap: 5%;
}

.featurecontainer {
height: 600px;
flex-direction: column;


}

.amazingheader {
padding-left: 5%;
color: var(--NavyBlue);
font-family: var(--HeaderFont);
font-size: var(--FontSizeHeader);
font-style: normal;
font-weight: var(--FontWeightHeader);
line-height: normal;
}

.altlist {
width: 400px;
/* height: 87px; */
flex-shrink: 0;
}

.amazing {
text-decoration: none;
list-style-type: none;
}

.alternate {
background-color: var(--DarkTeal);
}

.listeditems {
line-height: var(--LineHeightListedItems);
}

/* END FEATURES SECTION */
/* BECOME AN AGENT */

.joining {
padding-top: 150px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
gap: 40px;

}

.joinnow {
width: 319px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: baseline;
align-content: baseline;

}

.business {
height: 600px;
}

.agenttext {
color: var(--DarkSoftBlue);
font-family: var(--BodyFont);
font-size: var(--FontSizeBasic);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: var(--LineHeightMedium); 
flex-grow: 0;/* 30px */
}
/* END BECOME AN AGENT SECTION */
/* STAY IN TOUCH FORM SECTION */

.intouchform {
padding-top: 100px;
padding-bottom: 100px;

display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
}

.sitinfo {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;

}

.input {
line-height: var(--LineHeightFormInputOne);
}

.input2 {
line-height: var(--LineHeightFormInputTwo);
}

.input3 {
line-height: var(--LineHeightListedItems);
}

.sitform {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}


/* END STAY IN TOUCH SECTION */
/* FOOTER SECTION */
footer {
min-width: 300px;
height: 100%;
background-color: var(--NavyBlue);
flex-shrink: 0;
}
.container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10%;
}

.PIanddesc {
display: flex;
flex-direction: column;
justify-content:center;
align-content: center;
width: 300px;
}

.secondcontainer {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width: 300px;
}

.PIfoot {
color: var(--White);
font-family: var(--BodyFont);
font-size: var(--FontsizeLarge);
font-style: normal;
font-weight: 500;
line-height: normal;
}
.descfoot {
color: var(--White);
font-family: var(--BodyFont);
font-size: var(--FontSizeBasic);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: var(--LineHeightXLarge); 
}

.Newsfoot {
color: var(--White);
font-family: var(--HeaderFont);
font-size: var(--FontSizeSmall);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: normal;
}

.signupfoot {
color: var(--White);
font-family: var(--BodyFont);
font-size: var(--FontSizeBasic);
font-style: normal;
font-weight: var(--FontWeightBody);
line-height: var(--LineHeightMedium); 
}

.reversetouch {
background-color: var(--White);
color: var(--NavyBlue);;
font-size: var(--FontSizeBasic);
line-height: var(--LineHeightButton);
padding: 11px 36px;
}

.reversetouch:hover {
background-color: var(--NavyBlue); 
color: var(--White);
font-size: var(--FontSizeBasic);
line-height: var(--LineHeightButton);}

.subscribefoot {
gap: 10px;
display: flex;
flex-direction: row;
align-content: center;
}

/*END FOOTER SECTION  */
/* ---------------------------------  */

/* THIS BEGINS THE MEDIA QUERIES SECTION */
/* DO NOT PUT ANY STYLIZING BELOW THIS SECTION */
/* THIS SECTION IS A WORK IN PROGRESS AND NEEDS MORE WORK AND PRACTICE */
/* ------------------------------------------- */

/* media queries */
/* Question: Do I put EVERY single tag/class here to begin with hiding EVERYTHING and THEN unhide as I go? */
.touch,
.links,
.mobile_menu,
.mobileicons,
.mobileparadise,
.rowmobile,
.offermobile,
.extmooffer,
.availhome,
.descavailhome,
.mobileavail

{display: none
}
/* 
Phone styles 
Add a media query that will apply styles when the screen is 360px or larger
*/
@media only screen and (min-width: 360px) {
/* these will show */
.logo,
.mobile_menu, 
.mobileicons,
.mobileparadise,
.mobileavail,
.offermobile,
.availhome,
.descavailhome,
.mobilegallery
{ display: flex;}

/* hiding */

.touch,
.links,
.deskparadise,
.deskgallery,
.deskimages, 
.deskicon, 
.features

{display: none}
}

/*
tablet??
*/

@media only screen and (min-width: 768px){
.logo,
.mobile_menu

{
display: flex;
}

.links,
.touch 
{
display: none;
}
}

/*
desktop, low min width because otherwise my screen wasnt big enough for the baseline of 1024px
*/

@media only screen and (min-width: 874px){
.logo,
.links,
.touch,
.deskparadise,
.deskgallery, 
.features, 
.deskimages, 
.deskicon 

{
display: flex;
}

.mobile_menu,
.mobileavail,
.mobileicons,
.mobileparadise,
.mobilegallery,
.offermobile
{
display: none;
}
}


