/* TRISH - GOAL 1 - go through code and find all classes that can be included under the beginning tags!!! */
html {font-family: 'Manrope', sans-serif;}

body {background-color: white;}

/* HEADER SECTION */

/* navigation links */
.links {
    display: flex;
	align-items: center;
	gap: 40px;
    list-style-type: none;
    }

.linkslist {
    color: #232323;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

/* text based logo in left corner */
.logo {

    color: #0E204E;
    font-family: Playfair Display, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

    /* button  */
.touch {
    background-color: #0E204E;
    color: #FFF;
    font-size: 20px;
    line-height: 15px;
    padding: 11px 36px;
}

.touch:hover {
    background-color: #FFF; 
    color: #0E204E;
    font-size: 20px;
    line-height: 15px;}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        
    } 
    
/* Description of Pineapple island and the elements encompassing it */

    .paradise {
	    display: flex;
	    align-items: center;
        }
    
    .box1 {
    min-width: 500px;
    height: 430px;
    background-color: #0E204E;
        
        }

    /* TRISH - GOAL 2 - Go through and figure out where code can be more efficient!  */
    .PIdesc {
    padding-left: 10%;
    padding-top: 5%;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        }

    .PIdesc2 {
    padding-left: 10%;
    padding-right: 10%;
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 0;
    
        }

    .deskparadise {
    width: 750px;
    flex-shrink: 0;
        }    
/* END HEADER SECTION */
/* ABOUT PINEAPPLE ISLAND SECTION */

.about {
    padding-top: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.containerabout {
    padding-right: 10%;
    width: 80px;
}

.aboutheader {
    color: #0E204E;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        }
.aboutp {
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    color: #FFF;
    font-family: Manrope;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align:justify;
    flex-grow: 0;
}
.rowdesk {
    width: 600px;
    flex-shrink: 0;
}

.aboutbox {
    height: 510px;
    width: 400px;
    background-color: #0E204E;
        
        }
/* END ABOUT SECTION */
/* WHY CHOOSE PINEAPPLE ISLAND SECTION */

/* END WHY CHOOSE PINEAPPLE ISLAND SECTION */
 /* WHAT WE OFFER SECTION */

 /* DESKTOP SECTION FIRST */

 /* MOBILE SECTION SECOND */
   
        .mobileicons {
        min-width: 300px;
        height: 100%;
        background-color: #0E204E;
        flex-shrink: 0;
            }
/* END WHAT WE OFFER SECTION */
/* GALLERIES SECTION */

/* DESKTOP SECTION FIRST */
            .h1desk { 
                color: #0E204E;
                font-family: Playfair Display;
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .pdesk {
                width: 596px;
                color: #263238;
                text-align: center;
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 180%; 
            }

            .deskgallerydesc {
                padding-left: 475px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
            }   

            .deskimages {
                    row-gap: 10px;
                    column-gap: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
            }

            .imgesgallery {
                width: 400px;
            }


/* END GALLERY SECTION */
/* FEATURES SECTION */

.amazingimg {
    height: 600px;
}

.features {
    padding-top: 250px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
            }

.featurecontainer {
    height: 600px;
    flex-direction: column;
    
            }

.amazingheader {
    padding-left: 5%;
    color: #0E204E;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        }

.altlist {
    width: 542px;
    height: 87px;
    flex-shrink: 0;
}

.amazing {
    text-decoration: none;
    list-style-type: none;
}

.alternate {
    background-color: rgba(14, 63, 51, 0.20);;
}
/* END FEATURES SECTION */
/* BECOME AN AGENT */

.joining {
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 40px;
    
}

.joinnow {
    width: 319px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: baseline;
    
}

.business {
    height: 600px;
}

.agenttext {
    color: #263238;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    flex-grow: 0;/* 30px */
}
/* END BECOME AN AGENT SECTION */
/* STAY IN TOUCH FORM SECTION */

.intouchform {
    padding-top: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/* END STAY IN TOUCH SECTION */
/* FOOTER SECTION */
        footer {
            min-width: 300px;
            height: 100%;
            background-color: #0E204E;
            flex-shrink: 0;
                }

                .PIfoot {
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                         }
                .descfoot {
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 180%; /* 36px */
                        }

                .Newsfoot {
                    color: #FFF;
                    font-family: Playfair Display;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                        }

                .signupfoot {
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 30px */
                        }

                        .reversetouch {
                            background-color: #ffffff;
                            color: #0E204E;;
                            font-size: 20px;
                            line-height: 15px;
                            padding: 11px 36px;
                        }
                        
                        .reversetouch:hover {
                            background-color: #0E204E; 
                            color: #ffffff;
                            font-size: 20px;
                            line-height: 15px;}
            
/*END FOOTER SECTION  */
/* ---------------------------------  */

/* THIS BEGINS THE MEDIA QUERIES SECTION */
/* DO NOT PUT ANY STYLIZING BELOW THIS SECTION */
/* THIS SECTION IS A WORK IN PROGRESS AND NEEDS MORE WORK AND PRACTICE */
/* ------------------------------------------- */

/* media queries */
/* Question: Do I put EVERY single tag/class here to begin with hiding EVERYTHING and THEN unhide as I go? */
    .touch,
    .links,
    .mobile_menu,
    .mobileicons,
    .mobileparadise,
    .rowmobile,
    .offermobile,
    .extmooffer,
    .availhome,
    .descavailhome,
    .mobileavail

        {display: none
        }
/* 
Phone styles 
Add a media query that will apply styles when the screen is 360px or larger
*/
@media only screen and (min-width: 360px) {
    /* these will show */
    .logo,
    .mobile_menu, 
    .mobileicons,
    .mobileparadise,
    .mobileavail,
    .offermobile,
    .availhome,
    .descavailhome,
    .mobilegallery
    { display: flex;}

  /* hiding */
        
    .touch,
    .links,
    .deskparadise,
    .deskgallery,
    .deskimages, 
    .deskicon, 
    .features
    
        {display: none}
            }

/*
  tablet??
*/

@media only screen and (min-width: 768px){
	.logo,
	.mobile_menu
	
	{
		display: flex;
			}

            .links,
            .touch 
    	 {
		display: none;
	}
}

/*
  desktop, low min width because otherwise my screen wasnt big enough for the baseline of 1024px
*/

@media only screen and (min-width: 874px){
	.logo,
	.links,
    .touch,
    .deskparadise,
    .deskgallery, 
    .features, 
    .deskimages, 
    .deskicon 

	{
		display: flex;
			}

	.mobile_menu,
    .mobileavail,
    .mobileicons,
    .mobileparadise,
    .mobilegallery,
    .offermobile
	 {
		display: none;
	}
}


